include *.txt
include *.md
include *.pkl
recursive-include ./gbm_model/*

include gbm_model/datasets/train.csv
include gbm_model/datasets/test.csv
include gbm_model/trained_models/*.pkl
include gbm_model/VERSION
include gbm_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]